.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}